<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427362740894-vfm229nfcc2808bp42m3ljnjb0cgsqlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427362740894-vfm229nfcc2808bp42m3ljnjb0cgsqlo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427362740894-3e24tcgf8g7ufsdct4dhtjds9msls2lt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNXSdIfBpyHGsJj06AfqgCTTb22UghCTk</string>
	<key>GCM_SENDER_ID</key>
	<string>427362740894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseproject</string>
	<key>PROJECT_ID</key>
	<string>reem-66ca2</string>
	<key>STORAGE_BUCKET</key>
	<string>reem-66ca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427362740894:ios:c8429f77e38fc62bb0298f</string>
</dict>
</plist>